{% import "polymathic/templates/macros.html" as macros %}
{% extends "polymathic/templates/index.html" %}

{% block page_meta %}
  {{ macros::content_meta(content=page) }}
{% endblock %}

{% block page_style %}
  {% block example_style %}
    <!-- example styles here -->
  {% endblock %}
{% endblock %}

{% block content %}
  <nav class="navbar">
    <div class="navbar-brand">
      {% set anc = get_section(path = page.ancestors|last) %}
      <a class="navbar-item" href="{{anc.path}}">
        Return to: {{anc.title}}
      </a>
      <h5 class="navbar-item">
        Now viewing: {{page.title}}
      </h5>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if page.lower %}
              <a href="{{page.lower.path}}" class="button is-light">
                Previous: {{page.lower.title}}
              </a>
            {% endif %}
            {% if page.higher %}
              <a href="{{page.higher.path}}" class="button is-primary">
                Next: {{page.higher.title}}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{super()}}
{% endblock %}

{% block index_content %}
  {{page.content | safe}}
{% endblock %}

{% block modals %} {%endblock%}